.home {
    align-items: center;
    justify-content: space-between;
    background-color:#bfb6b6c0;
    padding: 40px;
  }
.book-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bfb6b6c0;
    width:100%;
    margin-bottom: 10px;
    border : #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  .SingleBook {
    width: 20%;
    background-color: #bfb6b6ad;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: black;
    border-top: 1px #333;
    border-right: 1px #333;
    border-bottom: 1px #333;
    border-left: 1px #333;
    

  }
  
  .SingleBook img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

  }
  
  .SingleBook a {
    text-decoration: none;
    color: #333;
    font-size: 10px;
  }
  
  .SingleBook a:hover {
    text-decoration: underline;
  }

.book-banner-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 

  width: 100%;
}
.book-info {
  text-align: center;
  
  justify-content: space-between;
  margin-bottom: 20px; 

  border-radius: 5px;
}
.book-info a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
.book-info a:hover {
  text-decoration: none;
  
}
.book-banner h1 {
  padding: 0 25px;
  font-family: 'papyrus';
  font-size: 50px;
  color: #61600491;
  margin-bottom: 20px;
}
.button {
  font: bold 11px Arial;

}
.button:hover {
  border-top-color: #333333;
  border-right-color: #333333;
  border-bottom-color: #333333;
  border-left-color: #333333;
  border-radius: 3px;
  /* change color on hover */
  background-color: #9f9595a9;
  text-decoration: none;
}
.see-more {
  display: inline-block;
  margin-top: 4vh;
  color: blue;
  font-family: 'papyrus';
  font-size: 20px;
}

.book-banner-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}
.book-banner-title h1 {
  display: block;
  padding: 0 25px;
  font-family: 'papyrus';
  font-size: 50px;
  color: #61600491;
  margin-bottom: 20px;
}
.book-banner-title a {
  display: inline;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
.book-banner-title a:hover {
  text-decoration: none;
}

